In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("movie.csv")
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,genres,production_companies,production_countries,spoken_languages,keywords,directors,writers,averageRating,numVotes,cast
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",Christopher Nolan,Christopher Nolan,8.8,2684780,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",8.7,2346977,"Matthew McConaughey, Anne Hathaway, Michael Ca..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...",9.0,3022443,"Christian Bale, Heath Ledger, Aaron Eckhart, M..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",James Cameron,James Cameron,7.9,1431576,"Sam Worthington, Zoe Saldaña, Sigourney Weaver..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",Joss Whedon,"Joss Whedon, Zak Penn",8.0,1508926,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."

In [4]:
df.shape

(434437, 29)

In [5]:
df.isna().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
status                       0
release_date             19080
revenue                      0
runtime                      0
adult                        0
backdrop_path           250159
budget                       0
homepage                380104
tconst                       0
original_language            0
original_title               0
overview                 41881
popularity                   0
poster_path              74954
tagline                 343045
genres                   78181
production_companies    172025
production_countries    112788
spoken_languages        102419
keywords                263675
directors                10263
writers                  66528
averageRating                0
numVotes                     0
cast                     68578
dtype: int64

In [6]:
df.dropna(subset=["overview", "tagline", "genres", "spoken_languages", "keywords",'directors','writers','cast'], inplace=True)

In [7]:
df.shape

(50162, 29)

In [8]:
df.isna().sum()

id                          0
title                       0
vote_average                0
vote_count                  0
status                      0
release_date              157
revenue                     0
runtime                     0
adult                       0
backdrop_path            8171
budget                      0
homepage                39096
tconst                      0
original_language           0
original_title              0
overview                    0
popularity                  0
poster_path              1172
tagline                     0
genres                      0
production_companies     4090
production_countries     2116
spoken_languages            0
keywords                    0
directors                   0
writers                     0
averageRating               0
numVotes                    0
cast                        0
dtype: int64

In [9]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'tconst', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords', 'directors', 'writers', 'averageRating', 'numVotes',
       'cast'],
      dtype='object')

In [10]:
movies = df[['id','title', 'genres', 'tagline', 'cast', 'directors','writers','overview','original_language', 'keywords']]

In [11]:
movies.head(2)

,id,title,genres,tagline,cast,directors,writers,overview,original_language,keywords
0,27205,Inception,"Action, Science Fiction, Adventure",Your mind is the scene of the crime.,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...",Christopher Nolan,Christopher Nolan,"Cobb, a skilled thief who commits corporate es...",en,"rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,"Adventure, Drama, Science Fiction",Mankind was born on Earth. It was never meant ...,"Matthew McConaughey, Anne Hathaway, Michael Ca...",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",The adventures of a group of explorers who mak...,en,"rescue, future, spacecraft, race against time,..."

In [12]:
def split_columns_to_list(df, columns):
    for column_name in columns:
        if column_name in df.columns:
            df[column_name] = df[column_name].apply(
                lambda x: [i.strip() for i in x.split(',')] if isinstance(x, str) and x else []
            )
    return df

In [13]:
columns_to_split = ['genres', 'tagline', 'cast', 'directors', 'writers','overview','keywords']
movies = split_columns_to_list(movies, columns_to_split)

C:\Users\gbipi\AppData\Local\Temp\ipykernel_3048\2411105849.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name] = df[column_name].apply(

In [14]:
movies.head(2)

,id,title,genres,tagline,cast,directors,writers,overview,original_language,keywords
0,27205,Inception,"[Action, Science Fiction, Adventure]",[Your mind is the scene of the crime.],"[Leonardo DiCaprio, Joseph Gordon-Levitt, Ken ...",[Christopher Nolan],[Christopher Nolan],"[Cobb, a skilled thief who commits corporate e...",en,"[rescue, mission, dream, airplane, paris, fran..."
1,157336,Interstellar,"[Adventure, Drama, Science Fiction]",[Mankind was born on Earth. It was never meant...,"[Matthew McConaughey, Anne Hathaway, Michael C...",[Christopher Nolan],"[Jonathan Nolan, Christopher Nolan]",[The adventures of a group of explorers who ma...,en,"[rescue, future, spacecraft, race against time..."

In [15]:
cols_to_split = ['genres', 'keywords', 'cast', 'directors', 'writers', 'tagline','overview']

for col in cols_to_split:
    if col in df.columns:
        df[col] = df[col].apply(lambda x: [i.strip() for i in x.split(',')] if isinstance(x, str) else [])

In [16]:
movies['tags']=movies['genres']+movies['tagline']+movies['cast']+movies['directors']+movies['writers']+movies['overview']+movies['keywords']

C:\Users\gbipi\AppData\Local\Temp\ipykernel_3048\3234747635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']=movies['genres']+movies['tagline']+movies['cast']+movies['directors']+movies['writers']+movies['overview']+movies['keywords']

In [17]:
movies['tags']

0         [Action, Science Fiction, Adventure, Your mind...
1         [Adventure, Drama, Science Fiction, Mankind wa...
2         [Drama, Action, Crime, Thriller, Welcome to a ...
3         [Action, Adventure, Fantasy, Science Fiction, ...
4         [Science Fiction, Action, Adventure, Some asse...
                                ...
434342    [Horror, HANG YOUR STOCKINGS AND SAY YOUR PRAY...
434367    [Animation, Six uncut fully animated cartoons,...
434374    [Horror, Comedy, Rock 'N Roll Vampires from He...
434391    [Drama, Mystery, Thriller, Don’t believe his l...
434422    [Drama, Fantasy, Thriller, The future is not f...
Name: tags, Length: 50162, dtype: object

In [18]:
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

C:\Users\gbipi\AppData\Local\Temp\ipykernel_3048\2839427491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [19]:
movies['tags'][0]

'Action Science Fiction Adventure Your mind is the scene of the crime. Leonardo DiCaprio Joseph Gordon-Levitt Ken Watanabe Tom Hardy Elliot Page Dileep Rao Cillian Murphy Tom Berenger Marion Cotillard Pete Postlethwaite Christopher Nolan Christopher Nolan Cobb a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception" the implantation of another person\'s idea into a target\'s subconscious. rescue mission dream airplane paris france virtual reality kidnapping philosophy spy allegory manipulation car crash heist memory architecture los angeles california dream world subconscious'

In [20]:
movies['tags']=movies['tags'].apply(lambda x: x.lower())

C:\Users\gbipi\AppData\Local\Temp\ipykernel_3048\2784451386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']=movies['tags'].apply(lambda x: x.lower())

In [21]:
movies.head()

,id,title,genres,tagline,cast,directors,writers,overview,original_language,keywords,tags
0,27205,Inception,"[Action, Science Fiction, Adventure]",[Your mind is the scene of the crime.],"[Leonardo DiCaprio, Joseph Gordon-Levitt, Ken ...",[Christopher Nolan],[Christopher Nolan],"[Cobb, a skilled thief who commits corporate e...",en,"[rescue, mission, dream, airplane, paris, fran...",action science fiction adventure your mind is ...
1,157336,Interstellar,"[Adventure, Drama, Science Fiction]",[Mankind was born on Earth. It was never meant...,"[Matthew McConaughey, Anne Hathaway, Michael C...",[Christopher Nolan],"[Jonathan Nolan, Christopher Nolan]",[The adventures of a group of explorers who ma...,en,"[rescue, future, spacecraft, race against time...",adventure drama science fiction mankind was bo...
2,155,The Dark Knight,"[Drama, Action, Crime, Thriller]",[Welcome to a world without rules.],"[Christian Bale, Heath Ledger, Aaron Eckhart, ...",[Christopher Nolan],"[Jonathan Nolan, Christopher Nolan, David S. G...",[Batman raises the stakes in his war on crime....,en,"[joker, sadism, chaos, secret identity, crime ...",drama action crime thriller welcome to a world...
3,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",[Enter the world of Pandora.],"[Sam Worthington, Zoe Saldaña, Sigourney Weave...",[James Cameron],[James Cameron],"[In the 22nd century, a paraplegic Marine is d...",en,"[future, society, culture clash, space travel,...",action adventure fantasy science fiction enter...
4,24428,The Avengers,"[Science Fiction, Action, Adventure]",[Some assembly required.],"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...",[Joss Whedon],"[Joss Whedon, Zak Penn]",[When an unexpected enemy emerges and threaten...,en,"[new york city, superhero, shield, based on co...",science fiction action adventure some assembly...

In [22]:
movies = movies.reset_index(drop=True)

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['tags'])

In [24]:
from sklearn.neighbors import NearestNeighbors
import difflib

# Fit NearestNeighbors model
nbrs = NearestNeighbors(n_neighbors=11, metric='cosine')
nbrs.fit(tfidf_matrix)  # Make sure tfidf_matrix matches movie order

def recommend(title):
    title_lower = title.lower()

    # Use difflib to find the closest title match
    close_matches = difflib.get_close_matches(title_lower, movies['title'].str.lower(), n=1, cutoff=0.6)

    if not close_matches:
        print(f"No close match found for '{title}'")
        return

    matched_title = close_matches[0]

    # Find index of the matched title
    idx = movies[movies['title'].str.lower() == matched_title].index[0]

    # Find 11 nearest neighbors (including the input movie itself)
    distances, indices = nbrs.kneighbors(tfidf_matrix[idx])

    print(f"\nTop recommendations for '{movies.loc[idx, 'title']}':\n")
    for i in indices[0][1:]:  # Skip the first (it’s the same movie)
        print(f"- {movies.loc[i, 'title']}")

In [25]:
recommend("Dhoom")

Top recommendations for 'Dhoom':

- Dhoom 2
- Go Goa Gone
- Ek Tha Tiger
- Mumbai Saga
- Setem
- Dum Maaro Dum
- Code 8
- I Am Ali
- Phantom
- Electra Glide in Blue

In [26]:
import pickle

In [27]:
pickle.dump(movies, open('movies_data.pkl', 'wb'))

In [28]:
with open('tfidf.pkl', 'wb') as f:
    pickle.dump(tfidf, f)

In [29]:
with open('tfidf_matrix.pkl', 'wb') as f:
    pickle.dump(tfidf_matrix, f)

In [30]:
with open('nearest_neighbors.pkl', 'wb') as f:
    pickle.dump(nbrs, f)